h4 {
	font: bold 100% Arial, Helvetica, sans-serif;
	margin: 0 0 .2em;
}
h4 em {
	font: normal 80%/100% Arial, Helvetica, sans-serif;
	color: #999999;
}
#largeImg {
	border: solid 1px #ccc;
	width: 600px;
	height: 450px;
	padding: 5px;
}
.thumbs img{
	border: solid 1px #ccc;
	width: 100px;
	height: 100px;
	padding: 4px;
	margin: 5px;
}
.thumbs img:hover {
	border-color: #FF9900;
}
